body {
	background-color: #131A1F;
	color: #404040;

	&.qup {
		padding-top: 57px;
	}
}

.footer>.container>.container-fluid {
	border-top: 1px solid #333;
	line-height: 60px;
}
html, body,
body > .ember-view {
    height: 100%;
    min-height: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.page-head, .navbar.navbar-default {
	background-color: #131A1F;
}

.navbar.navbar-default.navbar-fixed-top {
	opacity: 0.95;
}

.presenter-min {
	position: absolute !important;
	top: 10px;
	left: 10px;
	opacity: 0;
	transition: opacity 1000ms;

	.photo {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-color: gray;
		background-image: url(https://avatars1.githubusercontent.com/u/2156263?v=3&s=140);
		background-size: cover;
		border-radius: 50%;

		transition: box-shadow 300ms;

		&:hover {
			box-shadow: 0 0 0 4px rgba(255,255,255,0.1);
		}
	}

	&.show {
		opacity: 1;
	}
}

.presenter {
	color: #FFFEFE;
	font-size: 2em;
	letter-spacing: .02em;
	margin-bottom: 0.4em;
	font-weight: 200;

	padding-top: 30px;

	transition: opacity 1000ms;

	opacity: 0;

	&.show {
		opacity: 1;
	}

	.name {
		padding: 10px;
	}

	text-align: center;

	.photo {
		margin: auto;
		width: 100px;
		height: 100px;
		background-color: gray;
		background-image: url(https://avatars1.githubusercontent.com/u/2156263?v=3&s=140);
		background-size: cover;
		border-radius: 50%;

		transition: box-shadow 300ms;

		&:hover {
			box-shadow: 0 0 0 7px rgba(255,255,255,0.1);
		}

	}
}
