.qup-nav {
  background-color: #fcfcfc;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.qup-nav > .container > .container-fluid {
  border-radius: 0px;
}

.navbar-brand {
	line-height: 27px;
	font-size: 27px;
}

.navbar-brand>strong>span {
	color: #428bca;
	font-size: 16px;
}

.nav>li {
	overflow: hidden;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
}

.nav>li>a>.tag {
	font-size: 15px;
}

.qup-btn-menu, 
.qup-btn-menu:hover {
	color: white;
}

.qup-btn-menu > .tag {
	color: #428bca;
	margin-left: 10px;
}

.qup-btn-menu > .glyphicon,
.qup-btn-menu:hover > .glyphicon {
	background-color: #333;
	padding: 4px;
	border-radius: 50%;
	font-size: 12px;
}