.posts {
   &:first-child {
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
   }
   
   &:last-child {
       border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px;
   }
}

.post-row {
    height:		90px;
    display:		block;
    position:		relative;
    
    padding-top: 8px;

    background-color:	rgb(30, 34, 36);
    text-align:		center;
    
    > h1 {
  	color:		white;
  	font-family:	'Bentham', serif;
  	text-shadow:	1px 1px black;

	font-size:	40px;
	font-weight:	300;
    }
    
    .keywords {
  	color:		white;
	
  	span {
  	    padding-left:	15px;
  	    padding-right:	15px;
  	    border-radius:	15px;
  	    border:		1px solid rgba(255, 255, 255, 0.8);
  	}
    }
    
    .image {
	position:	absolute;
	top:		0;
	left:		0;
	
	height:		100%;
	width:		100%;
	
	opacity:	0.25;
  }
}